body{
    font-family:Arial, Helvetica, sans-serif;
}

div{
    padding: 20px;
}

/* Styles for Logo Image */
.logo-img{
    display: block;
    margin: 0 auto;
}

.center-span{
    text-align: center;
    margin: 0 auto;
}

fieldset{
    width: 75%;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px 25px;
    margin-bottom: 20px;
    margin-top: 0px;
}

fieldset label{
    font-size: 90%;
}

form input{
    display: block;
    width: 100%;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 2px;
    margin-bottom: 25px;
}

form input[type="submit"]{
    background-color: #f7c548;
    border-color: #a88734 #9c7e31 #846a29;
    font-size: 90%;
}

.need-help{
    transform: translate(-7vw,0);
}

h6,button{
    width: 75%;
    text-align: center;
}

h6{
    color: #767676;
    border-bottom: 1px solid #767676;
    line-height: 0.1em;
    margin: 30px 0 20px;
}

span{
    background-color: #fff;
    color: #767676;
    padding: 0 10px;
}

button{
    font-size: 90%;
    padding: 5px;
    margin-top: 25px;
    background-color: #e7e9ec;
    border: 1px solid #adb1b8;
    border-radius: 2px;
    margin-bottom: 20px;
}

footer{
    border-top: 2px solid #adb1b8;
}

#footerElem>div>a>p{
    display: inline;
    text-align: center;
    padding: 10px 0 5px 0;
    font-size: 80%;
    margin-right: 20px;
}

#footerElem>p{
    font-size: 80%;
    text-align: center;
    padding: 2px;
}

div>fieldset>h2{
    text-align: left;
}

label[for="email"]{
    text-align: left;
    display: block;
}

label[for="password"]{
    padding-right: 195px;
}

.forgotpassword{
    padding-left: 200px;
}